body{
    background-image: url(kepek/hatter.jpg);
    background-size: contain;
    text-align: justify;
}

#egész{
    text-align: justify;
    margin: auto;
}

.hatter{
    background-color: rgba(194, 189, 189, 0.904);
}

.hatter:hover{
    background-color: rgba(248, 248, 248, 0.747);
}

table{
    text-align: justify;
}

.sor:hover{
    background-color: rgba(155, 153, 153, 0.527);

}