body{
    background-image: url(kepek/hatter.jpg);
    background-size: contain;
    text-align: justify;
}

#egész{
    text-align: justify;
    margin: auto;
}

.hatter{
    background-color: rgba(139, 138, 138, 0.527);
}

.hatter:hover{
    background-color: rgba(179, 175, 175, 0.527);
}

table{
    text-align: justify;
}

.sor:hover{
    background-color: rgba(155, 153, 153, 0.527);

}